
.disabled{
	background-color: #FFA4A4;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.list {
	background-color: #E6E6E6;
	padding-top: 20px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.badge{
    line-height: 1.5;
}

.list-group-item:hover{
	background-color:whiteSmoke;
	color:#555;
	text-decoration: none;
}

.link:hover{
	text-decoration: none;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -195px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer {
  height: 195px; 
}

.page-wrap:after {
  height: 190px; 
}

body {
	padding-top: 70px;
}
td {
	cursor: pointer;
	background-color:white;
}
tr{
	background-color:white;
}
caption {
	font-weight: bold;
}
.margin-top-8 {
	margin-top: 8px;
}

