<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PonyAuto model: {{ name }}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .container {
		margin-top: 70px;
    }
	.disabled{
		background-color: #FFA4A4;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}

	.list {
		width: 35em;
		background-color: #EBEBEB;
		list-style-image: url(arrow.png);
		font-family: Verdana, Helvetica, sans-serif;
		font-size: 14px;
		padding: 15px;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}
    </style>
</head>

<body>
    <div class="container">
        <div class="col-md-12">
            <a href="/">Назад</a>
        </div>
        <div class="col-md-12 list">
            {% for modelname,count in cars %}
            <h3>{{ modelname }} : {{ count }}</h3>
            {% endfor %}
        </div>
    </div>
</body>
