<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PonyAuto</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style>
    .container {
		margin-top: 70px;
    }
<!--
	.modelname{
		margin: 0.2em +1em;
	}
-->
	.disabled{
		background-color: #FFA4A4;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
	
	.list {
		width: 35em;
		background-color: #EBEBEB;
		list-style-image: url(arrow.png);
		font-family: Verdana, Helvetica, sans-serif;
		font-size: 14px;
		padding: 15px;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}

    
    </style>
</head>

<body>
<div class="container">
	<div class="col-md-4 list">
			{% for mark in automarks %}
			<div class="col-md-12">
				<div class="col-md-6">
					<li>
							<a href="/automark/{{ mark}}">{{ mark }}</a>
					</li>
				</div>
				<div class="col-md-6">
				</div>
			</div>
			{% endfor %}
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-4 list">
		{% for user in users %}
		<div class="col-md-12 {{  " disabled" if user.status == "NotConfirmed" }}">
			<div class="col-md-6">
				<li>
						<a href="/user/{{user.login}}">{{ user.login }}</a>
				</li>
			</div>
			<div class="col-md-6">
				{{  "Not confirmed by user" if user.status == "NotConfirmed" }}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
</body>
</html>
