{% include 'header.html' %}
<script type="text/javascript">
	var model = {
		automarks: ko.observableArray([]),
		models: ko.observableArray([]),
		adverts: ko.observableArray([]),
		cars: ko.observableArray([]),
		username: ko.observable(),
		selectedMark: ko.observable(),
		selectedModel: ko.observable(),
		selectedCar: ko.observable(),
		currentmode: ko.observable(),
		onModelClick: function(modelname) {				
			getData('/get-adv-bymodel/' + modelname.name(), function(data) {
				model.adverts(data.advs);
				model.selectedModel(modelname);
			})
		},
		onMarkClick: function(mark) {
			model.selectedMark(mark);
			model.selectedModel(undefined);
			model.selectedModel(mark);
			model.models([]);
			model.models(model.selectedMark().models());
		},
		showmarks: function() {
			model.currentmode(1);
			model.models([]);
			model.adverts([]);
			model.automarks([]);
			model.selectedMark(undefined);
			model.selectedModel(undefined);
			getData('/automarks', function(data) {
				model.automarks(data);
			});
		},
		backtomain: function() {
			model.currentmode(0);
			model.models([]);
			model.adverts([]);
			model.automarks([]);
			model.selectedMark(undefined);
			model.selectedModel(undefined);
		},
		addadv: function() {
			if(model.username())
			{
				model.currentmode(2);
				model.models([]);
				model.adverts([]);
				model.automarks([]);
				model.selectedMark(undefined);
				model.selectedModel(undefined);
				getData('/automarks', function(data) {
					model.automarks(data);
				});
			}else
			{
				window.location.href = "/login";
			}
		},
		selectMark: function() {
			if(model.selectedMark())
			{
				model.models(model.selectedMark().models());
			}else
			{
				model.models([]);
			}
		},
		selectModel: function() {
			if(model.selectedModel())
			{
				console.log('/get-cars-bymodel/' + model.selectedModel().name());
				getData('/get-cars-bymodel/' + model.selectedModel().name(), function(data) {
					model.cars([]);
					model.cars(data.cars);
				})
			}else
			{
				model.cars([]);
			}
		},
		//~ saveadv: function() {
			//~ console.log('hi');
			//~ $.ajax({
				//~ url: '/saveadv',
				//~ type: 'POST',
				//~ dataType: 'json',
				//~ data: {
					//~ ormdata: JSON.stringify(pony.getChanges())
				//~ },
				//~ success: function() {
					//~ location.reload();
				//~ }
			//~ })
		//~ },
		//~ cancelClicked: function() {
			//~ location.reload();
		//~ }
		saveform: function()
		{
			$('<input>').attr({
				type: 'hidden',
				id: 'car',
				name: 'car',
				value: model.selectedCar().id()
			}).appendTo('#cc');
			$( "#addadvform" ).submit();
		}
	};
	var getData = function(url, func) {
		$.ajax({
			url: url,
			dataType: 'json',
			success: function(json) {
				var data = pony.unmarshalData(json);
				func(data);
			}
		})
	};
	$().ready(function() {
		getData('/get-current-user', function(data) {
			model.username(data);
		});
		model.currentmode(0);
		ko.applyBindings(model);
	});
</script>

<div class="page-wrap container">
	<div data-bind="if: currentmode() == 0" class="container">
        <div class="jumbotron">
            <h1 style="display:inline">Добро пожаловать на сайт </h1><h1 style="display:inline" data-bind="text: username() ? username().login() : '' "></h1><h1 style="display:inline"> обьявлений продажи автомобилей</h1>
            <p>Мы предлагаем большой выбор легковых автомобилей, грузового и коммерческого транспорта, мототехники, спецтехники и многих других видов транспортных средств.</p>
            <p style="width:200px;height:200px;display: inline;margin-right:20px">
				<a class="btn btn-primary btn-lg" data-bind="click: $root.showmarks" role="button">Перейти к просмотрку автомарок</a>
			</p>
			<p style="width:200px;display: inline;">
				<a class="btn btn-primary btn-lg" data-bind="click: $root.addadv" role="button">Добавить обьявление</a>
			</p>	
        </div>
	</div>
	<div data-bind="if: currentmode() == 1">
		<div class="row">
			<div class="col-lg-7">
				<p>
					<a class="btn btn-primary btn-lg" data-bind="click: $root.backtomain" role="button">Назад</a>
				</p>	
				<table id="marks" class="table table-bordered">
					<thead>
						<tr>
							<th class="text-center">Name</th>
							<th class="text-center">Description</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: automarks">
						<tr data-bind="click: $root.onMarkClick">
							<td data-bind="text: name" class="text-center"></td>
							<td data-bind="text: description" class="text-center"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-5"></div>
			<p>
				<a class="btn btn-primary btn-lg" data-bind="click: $root.backtomain" style="visibility:hidden;padding:0px;border-width:0px;" role="button"></a>
			</p>
			<div class="col-lg-4">
				<table class="table table-bordered" data-bind="if: models().length > 0">
					<caption data-bind="text: 'Models of automark  ' + selectedMark().name()"></caption>
					<thead>
						<tr>
							<th class="text-center">Выберите модель автомобиля:</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: models">
						<tr data-bind="click: $root.onModelClick">
							<td data-bind="text: name" class="text-center"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<table class="table table-bordered" data-bind="if: adverts().length > 0">
					<caption>Advs</caption>
					<thead>
						<tr>
							<th class="text-center">name</th>
							<th class="text-center">price</th>
							<th class="text-center">year</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: adverts">
						<tr data-bind="click: $root.onModelClick">
							<td data-bind="text: name" class="text-center"></td>
							<td data-bind="text: price" class="text-center"></td>
							<td data-bind="text: year" class="text-center"></td>
						</tr>
					</tbody>
					</div>
				</table>
			</div>
		</div>
	</div>
	<div data-bind="if: currentmode() == 2">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-1">
				<p>
					<a class="btn btn-primary btn-lg" data-bind="click: $root.backtomain" role="button">Назад</a>
				</p>
			</div>
			<div class="col-md-4">	
				<section class="addform">
					<form id="addadvform" action="/saveadv" method="POST" accept-charset="utf-8">
						<div class="row">
							<div class="col-md-4">
								<label for="nameadv">Название обьявления</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="nameadv" placeholder="Машина мечты" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="year">Год выпуска</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="year" placeholder="19XX" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="price">Цена</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="price" placeholder="Пол лимона" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="comm">Комментарий</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="comm" placeholder="Отличная машинка" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="milage">Пробег</label>
							</div>
							<div class="col-md-6">
								<input type="text" name="milage" placeholder="36000" required>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="mark">Марка</label>
							</div>
							<div class="col-md-6">
								<select data-bind="options: automarks, optionsText: 'name', value: selectedMark, optionsCaption: 'Выберите модель', event: {change: $root.selectMark }"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="car">Модель</label>
							</div>
							<div class="col-md-6">
								<select data-bind="options: models, optionsText: 'name', value: selectedModel, optionsCaption: 'Сначала выберите марку', event: {change: $root.selectModel }"></select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<label for="car">Машина</label>
							</div>
							<div class="col-md-6">
								<select data-bind="options: cars, optionsText: function(item) { return item.body_type() + ' (' + item.motor_power() + '/' + item.color() + ')'; }, value: selectedCar, optionsCaption: 'Выберите модель и марку'"></select>
							</div>
						</div>

						<div class="row" >
							<div class="col-md-4"></div>
							 <div id="cc" class="col-md-4">
								<input data-bind="click: $root.saveform" type="button" value="Submit">
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}
