{% include 'header.html' %}
<script type="text/javascript">
	$( document ).ready(function() {
		$("#marks").css('display', 'none');
	});
	var model = {
		automarks: ko.observableArray([]),
		models: ko.observableArray([]),
		adverts: ko.observableArray([]),
		selectedMark: ko.observable(),
		selectedCourse: ko.observable(),
		selectedModel: ko.observable(),
		onModelClick: function(modelname) {				
			getData('/get-adv-bymodel/' + modelname.name(), function(data) {
				model.adverts(data.advs);
				model.selectedModel(modelname);
			})
		},
		onMarkClick: function(mark) {
			model.selectedMark(mark);
			model.selectedModel(undefined);
			model.selectedModel(mark);
			model.models(model.selectedMark().models());
		},
		
		//~ onCourseClick: function(course) {
			//~ model.selectedGroup(undefined);
			//~ getData('/course-students/' + course.name() + '/' + course.semester(), function(data) {
				//~ model.students(data.students);
				//~ model.selectedCourse(course);
			//~ })
		//~ },
		saveClicked: function() {
			$.ajax({
				url: '/update',
				type: 'POST',
				dataType: 'json',
				data: {
					ormdata: JSON.stringify(pony.getChanges())
				},
				success: function() {
					location.reload();
				}
			})
		},
		//~ cancelClicked: function() {
			//~ location.reload();
		//~ }
	};
	var getData = function(url, func) {
		$.ajax({
			url: url,
			dataType: 'json',
			success: function(json) {
				var data = pony.unmarshalData(json);
				func(data);
			}
		})
	};
	$().ready(function() {
		getData('/automarks', function(data) {
			model.automarks(data);
		});
		ko.applyBindings(model);
	});
	function showmarks()
	{
		$("#marks").css('display', 'block');
		$(".jumbotron").css('display', 'none');
	}
</script>
<style>

</style>
<div class="page-wrap container">
	<div class="container">
        <div class="jumbotron">
            <h1>Добро пожаловать на сайт {{ menuuser.login }} обьявлений продажи автомобилей</h1>
            <p>Мы предлагаем большой выбор легковых автомобилей, грузового и коммерческого транспорта, мототехники, спецтехники и многих других видов транспортных средств.</p>
            <p><a class="btn btn-primary btn-lg" onclick="showmarks();" role="button">Перейти к просмотрку автомарок</a></p>
        </div>
	</div>
	<div class="row">
		<div class="col-lg-7">
			<table id="marks" class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center">Name</th>
						<th class="text-center">Description</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: automarks">
					<tr data-bind="click: $root.onMarkClick">
						<td data-bind="text: name" class="text-center"></td>
						<td data-bind="text: description" class="text-center"></td>
					</tr>
				</tbody>
				</div>
			</table>
		</div>
		<div class="col-lg-5"></div>
		<div class="col-lg-4">
			<table class="table table-bordered" data-bind="if: models().length > 0">
				<caption data-bind="text: 'Models of automark  ' + selectedMark().name()"></caption>
				<thead>
					<tr>
						<th class="text-center">Выберите модель автомобиля:</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: models">
					<tr data-bind="click: $root.onModelClick">
						<td data-bind="text: name" class="text-center"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7">
			<table class="table table-bordered" data-bind="if: adverts().length > 0">
				<caption>Advs</caption>
				<thead>
					<tr>
						<th class="text-center">name</th>
						<th class="text-center">price</th>
						<th class="text-center">year</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: adverts">
					<tr data-bind="click: $root.onModelClick">
						<td data-bind="text: name" class="text-center"></td>
						<td data-bind="text: price" class="text-center"></td>
						<td data-bind="text: year" class="text-center"></td>
					</tr>
				</tbody>
				</div>
			</table>
		</div>
		
	</div>
</div>
{% include 'footer.html' %}
