{% include 'header.html' %}
    <div class="container">
        <div class="col-md-12">
            <a href="/">Назад</a>
        </div>
        <div class="col-md-6 list">
            <div>
                <b>{{ user.login }}</b>
            </div>
            <div>
                <b>{{ user.email }}</b>
            </div>
            <div>
                {{ user.FIO }}
            </div>
            <div>
                {{ user.county }}
            </div>
            <div>
                {{ user.city }}
            </div>
            <div>
                {{ user.telephone }}
            </div>
        </div>
    </div>
{% include 'footer.html' %}
